@model AdministrasiBuku.Models.Buku

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Buku</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Isbn" />
            <div class="form-group">
                <label asp-for="JudulBuku" class="control-label"></label>
                <input asp-for="JudulBuku" class="form-control" />
                <span asp-validation-for="JudulBuku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pengarang" class="control-label"></label>
                <input asp-for="Pengarang" class="form-control" />
                <span asp-validation-for="Pengarang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penerbit" class="control-label"></label>
                <input asp-for="Penerbit" class="form-control" />
                <span asp-validation-for="Penerbit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TahunTerbit" class="control-label"></label>
                <input asp-for="TahunTerbit" class="form-control" />
                <span asp-validation-for="TahunTerbit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jumlah" class="control-label"></label>
                <input asp-for="Jumlah" class="form-control" />
                <span asp-validation-for="Jumlah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
